




.post {
    display: flex;
    gap: 100px;
    margin-bottom: 150px;
}



.post:nth-child(2n + 1) {
    flex-direction: row-reverse;
}

@media screen and (max-width:600px){
    .post{
     flex-direction: column;
    }
    .post:nth-child(2n+1){
        flex-direction: column;
    }
 }

.post .post__img {
    flex: 1;
    position: relative;
    height: 50vh;
    min-height: 300px;
}

.post .post__img:after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--primary-color-3);
    position: absolute;
    top: 20px;
    left: -20px;
    z-index: -1;
}

.post.dark .post__img:after{
    background-color: var(--primary-color-1);

}


.post .post__img img {
    object-fit: cover;
}

.post .post__content {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.post .post__content .title {
    font-size: 3rem;
    color: var(--primary-color-2);
    font-weight: 900;
    font-family: "Pangolin";
    font-weight: bold;
    position: relative;
    display: inline-block;
}



.post .post__content .date {
    font-size: 1rem;
    font-style: italic;
    color: var(--grey-2);
}

.post.dark .post__content .date{
    color: var(--grey-3);
}

.post .post__content .excerpt {
    height: 300px;
    overflow: hidden;
    font-size: 1.2rem;
    line-height: 2.5rem;
    text-align: center;
}

.post .post__content .excerpt::first-letter{
    font-size: 3rem;
    padding-right: .5rem;
    font-family: "Dancing Script";
    color: var(--primary-color-2)
}

.post.dark .post__content .excerpt::first-letter{
    color: var(--primary-color-1)
}

.button {
    position: relative;
    display: inline-block;
    justify-self: flex-end;
    border: none;
    background-color: transparent;
    font-family: 'Bungee Inline', cursive;
    font-size: 1.6rem;
    color: var(--primary-color-2);
    cursor: pointer;
}


.button::after {
    content: '';
    position: absolute;
    width: 0;
    left: 0;
    height: 0.5em;
    background: var(--primary-color-4);
    z-index: -1;
    bottom: 25%;
    transition: width 0.3s;
}

.button:hover::after {
    width: calc(100% + 2rem);
}


.post.dark .button:hover:after{
    background: var(--primary-color-1);
}


